# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# VSCode
.vscode/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Operating system files
.DS_Store
Thumbs.db

# Data files
data/raw/
data/processed/
data/output/